nav {
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav li {
    display: inline-block;
    list-style-type: none;
    margin-right: 15px;
}

nav li Link {
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    color: green;
}